.mat-expansion-panel-header {
    height: auto !important;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-size: 15px;
    width: 95%;
    margin-left: 20px;
}

.description {
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
}

.form-element {
    margin: 10px;
}

label {
    font-size: 15px;
    display: block;
    margin: 3px
}

input {
    width: 100%;
    padding: 8px;
}